.form-wrapper
    .form
        .form-input-wrapper
            position: relative
            margin-bottom: 1rem
            .input-label
                margin-bottom: 0.35rem
                user-select: none
                padding: 0 1rem
            .input-wrapper
                .ant-radio-group
                    display: inline-flex
                    flex-direction: column
                    .ant-radio-button-wrapper
                        margin-bottom: 0.5rem
                        border: 1px solid $theme-color
                        border-radius: 5px
                        background-color: rgba($theme-color,0.1)
                        box-shadow: inset 0 0 0 0px rgba(79,176,174,0.8)
                        transition: all 300ms
                        color: $gray-500
                        &::before
                            display: none
                        &.ant-radio-button-wrapper-checked
                            background-color: rgba($theme-color,0.2)
                            // color: black
                            box-shadow: inset 0 0 0 2px rgba(79,176,174,0.8)

                .ant-input,.ant-select,.ant-select-selection,.ant-input-number,.ant-picker,.ant-time-picker-input,.react-phone-number-input
                    width: 100%
                    border-radius: 4px
                    border: 1px solid $theme-color
                    height: 40px
                    font-weight: 500
                    transition: all 300ms
                    font-size: 15px
                    &:focus
                        border: 1px solid darken( $theme-color,20%)
                    .ant-input-number-handler-wrap
                        display: none
                    .ant-select-selector,.ant-select-selection__rendered,.ant-input-number-input-wrap
                        height: 100%
                        .ant-select-selection__choice
                            border-radius: 10px
                            background-color: rgba($theme-color,0.4)
                            border: 1px solid $theme-color
                            margin: 7px 3px
                        .ant-input-number-input
                            height: 100%
                        .ant-select-selection-selected-value
                            display: flex !important
                            align-items: center
                            height: 100% 
                &.input-underline
                    .ant-input-password
                        border: none !important
                        box-shadow: none !important
                        padding: 0
                        align-items: end
                    .ant-input-group-addon
                        background-color: transparent
                        border: none
                        border-bottom: 2px solid $gray-500
                    .ant-input,.ant-select,.ant-select-selection,.ant-input-number,.ant-picker,.ant-time-picker-input,.react-phone-number-input
                        border: none
                        border-bottom: 2px solid $gray-500
                        transition: all 300ms
                        border-radius: 0
                        .ant-select-selector
                            border: none
                            box-shadow: none
                        &:focus,&.ant-picker-focused,&.ant-input-number-focused
                            box-shadow: none
                            border-bottom: 2px solid $theme-color



@media (max-width: 767px)
    .form-wrapper
        .form
            .form-input-wrapper
                .input-wrapper
                    .ant-input,.ant-select-selection,.ant-input-number,.ant-time-picker-input,.react-phone-number-input
                        min-height: 35px
                        font-size: 13px
                        .ant-select-selection__rendered,.ant-input-number-input-wrap
                            .ant-select-selection__choice
                                margin: 4px 3px

@media (max-width: 420px)
    .form-wrapper
        .form
            .form-input-wrapper
                .input-wrapper
                    .ant-input,.ant-select-selection,.ant-input-number,.ant-time-picker-input,.react-phone-number-input
                        min-height: 33px
                        font-size: 12px