html
    min-height: 100%
    body
        
        font-family: 'Montserrat', sans-serif
        #root
            min-height: 100vh
        
.ant-message-notice:first-child
    margin-top: 45px
.disabled
    opacity: 0.8
    user-select: none
    pointer-events: none

.animated.fadeIn
        opacity: 0
        animation: fadeIn 0.4s ease-in-out forwards

@keyframes fadeIn
    from
        opacity: 0
    to
        opacity: 1